# Criar tabela Categoria:

In [1]:
# Importar biblioteca pyodbc:
import pyodbc

In [4]:
class ConexaoDB():
    def conexao(self):
        return pyodbc.connect(driver='{SQL Server}', server='localhost', pwd='Un4Docker', uid='sa', database='empresa')

bd = ConexaoDB()
conexao = bd.conexao()

In [27]:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table Categoria (
                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento.
                nome varchar (32),
                descricao text
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

    def listar (self):
        cursor = self.conexao.cursor()
        cursor.execute ('select * from Categoria')

        for line in cursor:
            print(line)

categoria = Categoria (conexao)
#categoria.criar()
categoria.listar()

(1, 'Teste', 'testando')

In [16]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table Vendedor (
                cpf varchar (14) primary key,
                nome varchar (128),
                email varchar (128),
                telefone varchar (20),
                endereco varchar (256)
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

    def listar (self):
        cursor = self.conexao.cursor()
        cursor.execute ('select * from Vendedor')

        for line in cursor:
            print(line)

    

vendedor = Vendedor (conexao)
#vendedor.criar()
vendedor.listar()

In [20]:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table Produto (
                id int primary key identity (1, 1),
                nome varchar (128),
                descricao text,
                marca varchar (32),
                id_categoria int foreign key references Categoria (id)
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

    def listar (self):
        cursor = self.conexao.cursor()
        cursor.execute ('select * from Produto')

        for line in cursor:
            print(line)




produto = Produto (conexao)
#produto.criar()
produto.listar()

In [24]:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table VendedorProduto (
                id int primary key identity (1, 1),
                cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
                id_produto int foreign key references Produto (id),
                quantidade int,
                preco decimal
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

    def listar (self):
        cursor = self.conexao.cursor()
        cursor.execute ('select * from VendedorProduto')

        for line in cursor:
            print(line)

vendedorProduto = VendedorProduto (conexao)
#vendedorProduto.criar()
vendedorProduto.listar()