# Inserir na Tabela Categoria

In [1]:
# Importar biblioteca pyodbc:
import pyodbc

In [2]:
# Classe para conexão com o banco de dados:

class ConexaoBD():
    def conectar(self):
        return pyodbc.connect(driver='{SQL Server}', server='localhost', pwd='Un4Docker', uid='sa', database='empresa')

In [3]:
# Instanciar um objeto da classe para conexão com o banco de dados:

bd = ConexaoBD ()

# Pegar uma conexão com o banco de dados:

conexao = bd.conectar ()

In [5]:
# Classe Categoria:

class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values ('celulares', 'telefones celulares');"
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchone ()
            return linha

In [20]:
# Instaciar objeto da classe Categoria:

categoria = Categoria (conexao)

# Inserir um registro no banco de dados:

linha = categoria.inserir ()

# Apresentar na tela o registro inserido no banco de dados:

print (linha)

[(1, 'Informatica', 'Notebook'), (2, 'celulares', 'telefones celulares'), (3, 'Informatica', 'Monitor'), (4, 'Eletronicos', 'TV'), (5, 'Games', 'xbox'), (6, 'Games', 'PS4'), (7, 'Games', 'Nintendo Switch'), (8, '', '')]

In [14]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        nome = input ("Informe o nome da categoria: ")
        descricao = input ("Informe a descrição da categoria: ")

        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, nome, descricao)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linhas = cursor.fetchall ()
            return linhas

In [ ]:
# Instaciar objeto da classe Categoria:

categoria = Categoria (conexao)

# Inserir um registro no banco de dados:

linha = categoria.inserir ()

# Apresentar na tela o registro inserido no banco de dados:

print (linha)

In [24]:
# Classe Categoria:

class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        parametros = [
            ('livros', 'livros impressos'),
            ('eletroeletrônicos', 'dispositivos eletroeletrônicos'),
            ('alimentos', 'alimentos não perecíveis')
        ]
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.executemany (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [28]:
# Instaciar objeto da classe Categoria:

categoria = Categoria (conexao)

# Inserir um registro no banco de dados:

linha = categoria.inserir ()

# Apresentar na tela o registro inserido no banco de dados:

print (linha)

[('turismo', 'turismo regional')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis'), ('', '')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis'), ('', ''), ('', '')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis'), ('', ''), ('', ''), ('', '')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis'), ('', ''), ('', ''), ('', ''), ('', '')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis'), ('', ''), ('', ''), ('', ''), ('', ''), ('', '')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis'), ('', ''), ('', ''), ('', ''), ('', ''), ('', ''), ('', '')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis'), ('', ''), ('', ''), ('', ''), ('', ''), ('', ''), ('', ''), ('', '')]
[('turismo', 'turismo regional'), ('alimentos', 'alimentos não pereciveis'), ('', ''), ('', ''), ('', ''), ('', ''), ('', ''), ('', ''), ('', ''), ('', '')]
[(1, 'Informatica', 'Notebook'), (2, 'celulares', 'telefones celulares'), (3, 'Informatica', 'Monitor'), (4, 'Eletronicos', 'TV'), (5, 'Games', 'xbox'), (6, 'Games', 'PS4'), (7, 'Games', 'Nintendo Switch'), (8, '', ''), (9, '', ''), (10, 'livros', 'livros impressos'), (11, 'eletroeletrônicos', 'dispositivos eletroeletrônicos'), (12, 'alimentos', 'alimentos não perecíveis'), (13, 'turismo', 'turismo regional'), (14, 'alimentos', 'alimentos não pereciveis'), (15, '', ''), (16, '', ''), (17, '', ''), (18, '', ''), (19, '', ''), (20, '', ''), (21, '', ''), (22, '', '')]

In [27]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def valores (self):
        parametros = []
        while True:
            nome = input ("Informe o nome da categoria: ")
            descricao = input ("Informe a descrição da categoria: ")
            parametros.append ((nome, descricao))
            print (parametros)
            resp = input ("Deseja informar outro registro? (s/n)")
            if (resp == "n"):
                break
        return parametros

    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        parametros = self.valores ()
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.executemany (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [ ]:
# Instaciar objeto da classe Categoria:

categoria = Categoria (conexao)

# Inserir um registro no banco de dados:

linha = categoria.inserir ()

# Apresentar na tela o registro inserido no banco de dados:

print (linha)

In [29]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values ('cozinha', 'utensílios de cozinha'
        );"

        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
            # self.conexao.commit ()
            sql = "select cast (scope_identity () as int);"
            cursor.execute (sql)
            id = cursor.fetchone ()[0]

            return id

In [30]:
# Instaciar objeto da classe Categoria:

categoria = Categoria (conexao)

# Inserir um registro no banco de dados:

linha = categoria.inserir ()

# Apresentar na tela o registro inserido no banco de dados:

print (linha)

23

In [38]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def insert (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        nome = input ("Informe o nome da categoria: ")
        descricao = input ("Informe a descrição da categoria: ")

        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, nome, descricao)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linhas = cursor.fetchall ()
            return linhas

    def update (self):
        dml = "update Categoria set descricao = ? where id = ?"
        category = input ("Informe o código da categoria que quer editar: ")
        description = input ("Informe a nova descrição da categoria: ")

        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute(dml, description, category)
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linhas = cursor.fetchall ()
            return linhas

    def delete (self):
        dml = "delete from Categoria where id = ?"
        category = input ("Informe o código da categoria que quer deletar: ")

        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute(dml, category)
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linhas = cursor.fetchall ()
            return linhas

In [33]:
categoria = Categoria (conexao)

linha = categoria.insert ()

print (linha)

[(1, 'Informatica', 'Notebook'), (2, 'celulares', 'telefones celulares'), (3, 'Informatica', 'Monitor'), (4, 'Eletronicos', 'TV'), (5, 'Games', 'xbox'), (6, 'Games', 'PS4'), (7, 'Games', 'Nintendo Switch'), (10, 'livros', 'livros impressos'), (11, 'eletroeletrônicos', 'dispositivos eletroeletrônicos'), (12, 'alimentos', 'alimentos não perecíveis'), (13, 'turismo', 'turismo regional'), (14, 'alimentos', 'alimentos não pereciveis'), (23, 'cozinha', 'utensílios de cozinha'), (24, 'Padaria', 'Pão')]

In [36]:
categoria = Categoria (conexao)

linha = categoria.update ()

print (linha)

[(1, 'Informatica', 'Notebook'), (2, 'celulares', 'telefones celulares'), (3, 'Informatica', 'Monitor'), (4, 'Eletronicos', 'TV'), (5, 'Games', 'xbox'), (6, 'Games', 'PS4'), (7, 'Games', 'Nintendo Switch'), (10, 'livros', 'livros impressos'), (11, 'eletroeletrônicos', 'dispositivos eletroeletrônicos'), (12, 'alimentos', 'alimentos não perecíveis'), (13, 'turismo', 'turismo regional'), (14, 'alimentos', 'alimentos não pereciveis'), (23, 'cozinha', 'utensílios de cozinha'), (24, 'Padaria', 'Pães')]

In [39]:
categoria = Categoria (conexao)

linha = categoria.delete ()

print (linha)

[(1, 'Informatica', 'Notebook'), (2, 'celulares', 'telefones celulares'), (3, 'Informatica', 'Monitor'), (4, 'Eletronicos', 'TV'), (6, 'Games', 'PS4'), (7, 'Games', 'Nintendo Switch'), (10, 'livros', 'livros impressos'), (11, 'eletroeletrônicos', 'dispositivos eletroeletrônicos'), (12, 'alimentos', 'alimentos não perecíveis'), (13, 'turismo', 'turismo regional'), (14, 'alimentos', 'alimentos não pereciveis'), (23, 'cozinha', 'utensílios de cozinha'), (24, 'Padaria', 'Pães')]